@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}
body{
    color: white;
    background-color: var(--OffBlack);
    /* Grid Layout */
    display: grid;
    place-content: center;
}
.card{
    gap: 5px;
    margin: 10%;
    padding: 5%;
    max-width: 500px;
    border-radius: 1rem;
    background-color: var(--DarkGrey);
    /* FlexBox */
    display: flex;
    flex-direction: column;
    place-items: center;
}
img{
    max-width: 75px;
    border-radius: 50%;
}
h1{
    font: normal 500 1.5rem 'Inter', sans-serif;
}
.citizenship{
    color: var(--Green);
    font: normal 500 0.9rem 'Inter', sans-serif;
}
.career{
    margin-top: 1rem;
    font: normal 500 0.8rem 'Inter', sans-serif;
}
.social_links > li{
    margin: 1rem;
    padding: 15px;
    text-align: center;
    border-radius: 1rem;
    list-style-type: none;
    background-color: var(--Grey);
}
.social_links > li > a{
    color: var(--White);
    text-decoration: none;
    font: normal 500 1rem 'Inter', sans-serif;
}