@charset "UTF-8";

/*Font size (paragraph): 14px

- Mobile: 375px
- Desktop: 1440px

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

     Weights: 400, 600, 700
}
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark_Grey: hsl(0, 0%, 12%);
    --Off_Black: hsl(0, 0%, 8%);

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    display: grid;
    color: white;
    min-height: 100vh;
    place-content: center;
    font-family: "Inter", sans-serif;
    background-color: var(--Off_Black);
}
